body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u1 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:126px;
  top:10px;
  width:67px;
  height:37px;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  color:#000000;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:37px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:29px;
  top:82px;
  width:21px;
  height:21px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u5 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:60px;
  top:115px;
  width:200px;
  height:25px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7 {
  position:absolute;
  left:29px;
  top:116px;
  width:21px;
  height:21px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u8 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:95px;
  top:165px;
  width:130px;
  height:15px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:15px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:279px;
  top:14px;
  width:21px;
  height:21px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u12 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:6px;
  top:8px;
  width:34px;
  height:34px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u14 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:60px;
  top:80px;
}
#u15_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u15_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
