body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:20px;
  width:320px;
  height:43px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:43px;
}
#u1 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:518px;
  width:320px;
  height:51px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:51px;
}
#u3 {
  position:absolute;
  left:2px;
  top:18px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:16px;
  top:90px;
  width:172px;
  height:37px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:37px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:20px;
  top:145px;
  width:280px;
  height:60px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:60px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:20px;
  top:217px;
  width:74px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:15px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:20px;
  top:285px;
  width:52px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:104px;
  top:217px;
  width:32px;
  height:15px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:104px;
  top:285px;
  width:32px;
  height:15px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:20px;
  top:250px;
  width:75px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:15px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:104px;
  top:250px;
  width:32px;
  height:15px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:220px;
  top:470px;
  width:100px;
  height:30px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u21 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
