body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:90px;
  width:320px;
  height:130px;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:36px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:130px;
}
#u1 {
  position:absolute;
  left:2px;
  top:44px;
  width:316px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:124px;
  top:175px;
  width:86px;
  height:15px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:15px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:50px;
  top:138px;
  width:48px;
  height:48px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u5 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:20px;
  top:240px;
  width:100px;
  height:30px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:190px;
  top:240px;
  width:100px;
  height:30px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
